node_red/data/flows.json
[{"id":"788c9bfb.ad92bc","type":"tab","label":"System","disabled":false,"info":""},{"id":"fa2159bc.e72848","type":"tab","label":"Andrej Room","disabled":false,"info":""},{"id":"1e7619ee.c567fe","type":"tab","label":"Living Room 1","disabled":true,"info":""},{"id":"24aaac9.e689ad4","type":"tab","label":"Raspberry Pi","disabled":false,"info":""},{"id":"db8b5c06.9003f8","type":"subflow","name":"Increment heater button","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"31ad1bc6.3b502c"}]}],"out":[{"x":440,"y":160,"wires":[{"id":"77d4f6b8.493ff8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"68a09ca4.fd2f1c","type":"subflow","name":"Decrement heater button","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"ac81596b.1f3b5"}]}],"out":[{"x":380,"y":160,"wires":[{"id":"8977f121.1cd6d8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"de3bf9f.da85f08","type":"mqtt-broker","name":"rpi_mosquitto","broker":"192.168.0.15","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f528ccd.83944c","type":"mqtt-broker","name":"","broker":"10.16.0.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78654564.12b5ac","type":"ui_base","z":"788c9bfb.ad92bc","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"150d5631.13dd52","type":"ui_tab","name":"Central Heating","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2fa69c3f.7dc27c","type":"ui_tab","name":"RaspberryPi","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1f5c099a.ee4de6","type":"ui_tab","name":"System","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bdcf0d6c.7518f","type":"ui_group","name":"","tab":"2fa69c3f.7dc27c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e63c6cc7.a6dd48","type":"ui_group","name":"Living Room","tab":"150d5631.13dd52","order":1,"disp":true,"width":"6","collapse":false},{"id":"69e6eeef.024b08","type":"ui_group","name":"Andrej","tab":"150d5631.13dd52","order":2,"disp":true,"width":"6","collapse":false},{"id":"8002ef0a.2d4cb8","type":"ui_group","name":"System","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bf7294bf.7c938","type":"ui_group","name":"System","tab":"1f5c099a.ee4de6","order":2,"disp":true,"width":"6","collapse":false},{"id":"1c93f139.8f7db7","type":"light-scheduler-settings","name":"my settings","latitude":"41.349018","longitude":"21.553671"},{"id":"8ff49ea8.4a713","type":"mqtt in","z":"fa2159bc.e72848","name":"","topic":"rooms/andrej/temp","qos":"2","datatype":"auto","broker":"5f528ccd.83944c","x":90,"y":20,"wires":[["b4f21f67.e78a68"]]},{"id":"e70623f9.673fc","type":"debug","z":"fa2159bc.e72848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"b4f21f67.e78a68","type":"change","z":"fa2159bc.e72848","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"currentTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":60,"wires":[["8ddbcd8a.f54af"]]},{"id":"c93fd1b3.640478","type":"change","z":"fa2159bc.e72848","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rooms/andrej/set_temp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.currentHeaterStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[["5061b887.4ea948"]]},{"id":"4e9ab6a6.82d1b","type":"mqtt out","z":"fa2159bc.e72848","name":"","topic":"rooms/andrej/state","qos":"2","retain":"true","broker":"5f528ccd.83944c","x":1070,"y":280,"wires":[]},{"id":"5061b887.4ea948","type":"rbe","z":"fa2159bc.e72848","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":240,"wires":[["4e9ab6a6.82d1b"]]},{"id":"5210dcce.9a7164","type":"debug","z":"fa2159bc.e72848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":40,"wires":[]},{"id":"8ddbcd8a.f54af","type":"function","z":"fa2159bc.e72848","name":"","func":"msg.payload = parseFloat(msg.payload.match(/\\d{1,2}\\.\\d{1,2}/g)) - 0;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["c7540604.51c418","5210dcce.9a7164"]]},{"id":"31ad1bc6.3b502c","type":"function","z":"db8b5c06.9003f8","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":60,"wires":[[]]},{"id":"77d4f6b8.493ff8","type":"function","z":"db8b5c06.9003f8","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') + 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[[]]},{"id":"8977f121.1cd6d8","type":"function","z":"68a09ca4.fd2f1c","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') - 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[[]]},{"id":"ac81596b.1f3b5","type":"function","z":"68a09ca4.fd2f1c","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":60,"wires":[[]]},{"id":"8fa22f15.3166b8","type":"mqtt in","z":"fa2159bc.e72848","name":"","topic":"rooms/andrej/connection","qos":"2","datatype":"auto","broker":"5f528ccd.83944c","x":110,"y":200,"wires":[["4718cacb.c31abc","d4ba5d83.b310e"]]},{"id":"4718cacb.c31abc","type":"function","z":"fa2159bc.e72848","name":"","func":"if(msg.payload === 'connected')\n    msg.payload = true;\nelse if(msg.payload === 'disconnected')\n    msg.payload = false;\n    \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["4cacca2c.b43a64"]]},{"id":"d4ba5d83.b310e","type":"debug","z":"fa2159bc.e72848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":240,"wires":[]},{"id":"187d71e8.e24126","type":"function","z":"24aaac9.e689ad4","name":"","func":"msg.payload = parseFloat(msg.payload.match(/\\d{2}\\.\\d{1,2}/g));\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["fc8e0160.7cc2b8"]]},{"id":"350a8bb.b07c674","type":"exec","z":"24aaac9.e689ad4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":160,"wires":[["187d71e8.e24126"],[],[]]},{"id":"4b223ed1.f0705","type":"inject","z":"24aaac9.e689ad4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["96de67aa.9b2d88"]]},{"id":"85a47017.626318","type":"mqtt in","z":"1e7619ee.c567fe","name":"","topic":"rooms/livingroom/temp","qos":"2","datatype":"auto","broker":"5f528ccd.83944c","x":140,"y":80,"wires":[["62b8082.968ee78","a481ceb1.ccb78"]]},{"id":"a236cf15.c72e5","type":"debug","z":"1e7619ee.c567fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"62b8082.968ee78","type":"change","z":"1e7619ee.c567fe","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"currentTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[["78f1f920.4ad908"]]},{"id":"d4cc3f5c.65297","type":"change","z":"1e7619ee.c567fe","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rooms/livingroom/set_temp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.currentHeaterStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[["6dc2629f.db23e4"]]},{"id":"102a9170.bc84ef","type":"mqtt out","z":"1e7619ee.c567fe","name":"","topic":"rooms/livingroom/state","qos":"2","retain":"true","broker":"5f528ccd.83944c","x":1120,"y":340,"wires":[]},{"id":"6dc2629f.db23e4","type":"rbe","z":"1e7619ee.c567fe","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1010,"y":300,"wires":[["102a9170.bc84ef"]]},{"id":"a481ceb1.ccb78","type":"debug","z":"1e7619ee.c567fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":100,"wires":[]},{"id":"78f1f920.4ad908","type":"function","z":"1e7619ee.c567fe","name":"","func":"msg.payload = parseFloat(msg.payload.match(/\\d{1,2}\\.\\d{1,2}/g)) - 0;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["3f1deb3a.95514c"]]},{"id":"706ecccb.a88e6c","type":"mqtt in","z":"1e7619ee.c567fe","name":"","topic":"rooms/livingroom/connection","qos":"2","datatype":"auto","broker":"5f528ccd.83944c","x":160,"y":220,"wires":[["3d8dfc2.a65ca04","2ef93c76.c981cc"]]},{"id":"3d8dfc2.a65ca04","type":"function","z":"1e7619ee.c567fe","name":"","func":"if(msg.payload === 'connected')\n    msg.payload = true;\nelse if(msg.payload === 'disconnected')\n    msg.payload = false;\n    \nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["2dc4274b.49e17"]]},{"id":"2ef93c76.c981cc","type":"debug","z":"1e7619ee.c567fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":260,"wires":[]},{"id":"e906da8b.1f8e1","type":"function","z":"fa2159bc.e72848","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["7da95d70.309e2c"]]},{"id":"5850f4b1.718344","type":"function","z":"fa2159bc.e72848","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') + 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":780,"y":380,"wires":[["f69428a6.ef4bd8"]]},{"id":"532a49ec.f1fc","type":"function","z":"fa2159bc.e72848","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') - 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["f69428a6.ef4bd8"]]},{"id":"3540a0dc.53236","type":"function","z":"fa2159bc.e72848","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["53790dbd.6c857c"]]},{"id":"babace57.460f7","type":"function","z":"1e7619ee.c567fe","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["12e3c9fc.abdb06"]]},{"id":"a636b545.b7f3e8","type":"function","z":"1e7619ee.c567fe","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') + 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":840,"y":440,"wires":[["334b6e5d.26a912"]]},{"id":"901cc602.80aec8","type":"function","z":"1e7619ee.c567fe","name":"","func":"//msg.topic = 'userConfig';\n//msg.payload = {userTargetValue : 25};\n\nvar incremet = flow.get('andrejtemp') - 0.5;\nvar msgNew = \n{\n    \"topic\" : \"userConfig\",\n    \"payload\" : \n    {\n        \"isUserCustomLocked\": false, \n        \"userTargetValue\": incremet, \n        \"isUserCustom\": true\n    }\n}\n\nreturn msgNew;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["334b6e5d.26a912"]]},{"id":"b80c2ab0.cd1b48","type":"function","z":"1e7619ee.c567fe","name":"","func":"flow.set('andrejtemp', msg.payload.targetValue);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["4643eef3.f2d1e"]]},{"id":"144bac68.8f1b3c","type":"mqtt in","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/current_state","qos":"2","datatype":"auto","broker":"5f528ccd.83944c","x":310,"y":140,"wires":[["83286415.62ed3","42d10c98.1e0194"]]},{"id":"e571f86e.7f7be8","type":"mqtt out","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/state","qos":"2","retain":"","broker":"5f528ccd.83944c","x":750,"y":240,"wires":[]},{"id":"83286415.62ed3","type":"function","z":"788c9bfb.ad92bc","name":"","func":"var msg1 = {\n    payload: msg.payload.split(\" \")[2] === \"on\"\n};\n\nvar msg2 = {\n    payload: msg.payload.split(\" \")[5] === \"on\"\n};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":510,"y":140,"wires":[["e50c2c7a.3c2b2"],["759eed64.bc004c"]]},{"id":"87d45ec2.d35288","type":"function","z":"788c9bfb.ad92bc","name":"","func":"return {\n    payload: \"on\"\n};","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["e571f86e.7f7be8"]]},{"id":"8aebd2a8.2e6138","type":"mqtt out","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/state","qos":"2","retain":"","broker":"5f528ccd.83944c","x":750,"y":300,"wires":[]},{"id":"1f8af884.541a37","type":"function","z":"788c9bfb.ad92bc","name":"","func":"return {\n    payload: \"off\"\n};","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["8aebd2a8.2e6138"]]},{"id":"6c451978.98141","type":"mqtt out","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/pump/state","qos":"2","retain":"true","broker":"5f528ccd.83944c","x":930,"y":400,"wires":[]},{"id":"a24f4a73.6d1788","type":"function","z":"788c9bfb.ad92bc","name":"","func":"return {\n    payload: \"on\"\n};","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["6c451978.98141"]]},{"id":"d8daf538.a23e","type":"mqtt out","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/pump/state","qos":"2","retain":"true","broker":"5f528ccd.83944c","x":930,"y":460,"wires":[]},{"id":"3eca107.965787","type":"function","z":"788c9bfb.ad92bc","name":"","func":"return {\n    payload: \"off\"\n};","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["d8daf538.a23e"]]},{"id":"80d1b8d1.d1c33","type":"mqtt out","z":"788c9bfb.ad92bc","name":"","topic":"rooms/sistem/poll","qos":"1","retain":"","broker":"5f528ccd.83944c","x":890,"y":540,"wires":[]},{"id":"42d10c98.1e0194","type":"debug","z":"788c9bfb.ad92bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":100,"wires":[]},{"id":"79efb38f.79b0c4","type":"delay","z":"788c9bfb.ad92bc","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":540,"wires":[["80d1b8d1.d1c33"]]},{"id":"96de67aa.9b2d88","type":"ui_button","z":"24aaac9.e689ad4","name":"","group":"bdcf0d6c.7518f","order":2,"width":0,"height":0,"passthru":true,"label":"Measure","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":200,"y":100,"wires":[["350a8bb.b07c674"]]},{"id":"7da95d70.309e2c","type":"ui_button","z":"fa2159bc.e72848","name":"","group":"69e6eeef.024b08","order":4,"width":"3","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"andrejtemp","payloadType":"flow","topic":"","topicType":"str","x":690,"y":340,"wires":[["5850f4b1.718344"]]},{"id":"53790dbd.6c857c","type":"ui_button","z":"fa2159bc.e72848","name":"","group":"69e6eeef.024b08","order":5,"width":"3","height":"1","passthru":false,"label":"-","tooltip":"","color":"","bgcolor":"","icon":"","payload":"andrejtemp","payloadType":"flow","topic":"","topicType":"str","x":630,"y":420,"wires":[["532a49ec.f1fc"]]},{"id":"12e3c9fc.abdb06","type":"ui_button","z":"1e7619ee.c567fe","name":"","group":"e63c6cc7.a6dd48","order":4,"width":"3","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"andrejtemp","payloadType":"flow","topic":"","topicType":"str","x":750,"y":400,"wires":[["a636b545.b7f3e8"]]},{"id":"4643eef3.f2d1e","type":"ui_button","z":"1e7619ee.c567fe","name":"","group":"e63c6cc7.a6dd48","order":5,"width":"3","height":"1","passthru":false,"label":"-","tooltip":"","color":"","bgcolor":"","icon":"","payload":"andrejtemp","payloadType":"flow","topic":"","topicType":"str","x":650,"y":480,"wires":[["901cc602.80aec8"]]},{"id":"a714d6ba.79c6f","type":"ui_button","z":"788c9bfb.ad92bc","name":"","group":"bf7294bf.7c938","order":0,"width":"3","height":"1","passthru":true,"label":"System on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":240,"wires":[["87d45ec2.d35288","79efb38f.79b0c4","43a89d0a.94e18c"]]},{"id":"17b9806.d3b138","type":"ui_button","z":"788c9bfb.ad92bc","name":"","group":"bf7294bf.7c938","order":0,"width":"3","height":"1","passthru":true,"label":"System off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":300,"wires":[["1f8af884.541a37","79efb38f.79b0c4","a0ba682d.f370e"]]},{"id":"43a89d0a.94e18c","type":"ui_button","z":"788c9bfb.ad92bc","name":"","group":"bf7294bf.7c938","order":0,"width":"3","height":"1","passthru":false,"label":"Pump on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":420,"y":400,"wires":[["a24f4a73.6d1788","79efb38f.79b0c4"]]},{"id":"77aeb460.45bc6c","type":"ui_button","z":"788c9bfb.ad92bc","name":"","group":"bf7294bf.7c938","order":0,"width":"3","height":"1","passthru":false,"label":"Pump off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":420,"y":460,"wires":[["3eca107.965787","79efb38f.79b0c4"]]},{"id":"fc8e0160.7cc2b8","type":"ui_gauge","z":"24aaac9.e689ad4","name":"","group":"bdcf0d6c.7518f","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"C","format":"{{msg.payload}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"48","seg2":"60","x":560,"y":260,"wires":[]},{"id":"c1617ddc.4756e","type":"ui_chart","z":"fa2159bc.e72848","name":"","group":"69e6eeef.024b08","order":3,"width":"0","height":"0","label":"Temp Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"15","ymax":"25","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":80,"wires":[[]]},{"id":"668d6fd5.dc154","type":"ui_chart","z":"1e7619ee.c567fe","name":"","group":"e63c6cc7.a6dd48","order":3,"width":"0","height":"0","label":"Temp Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"15","ymax":"25","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":140,"wires":[[]]},{"id":"4cacca2c.b43a64","type":"ui_led","z":"fa2159bc.e72848","order":1,"group":"69e6eeef.024b08","width":0,"height":0,"label":"Connection status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":370,"y":280,"wires":[]},{"id":"2dc4274b.49e17","type":"ui_led","z":"1e7619ee.c567fe","order":1,"group":"e63c6cc7.a6dd48","width":0,"height":0,"label":"Connection status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":410,"y":300,"wires":[]},{"id":"e50c2c7a.3c2b2","type":"ui_led","z":"788c9bfb.ad92bc","order":1,"group":"bf7294bf.7c938","width":"0","height":"0","label":"System status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":670,"y":120,"wires":[]},{"id":"759eed64.bc004c","type":"ui_led","z":"788c9bfb.ad92bc","order":1,"group":"bf7294bf.7c938","width":0,"height":0,"label":"Pump status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":670,"y":160,"wires":[]},{"id":"f69428a6.ef4bd8","type":"ui_heater_controller","z":"fa2159bc.e72848","name":"heater","group":"69e6eeef.024b08","unit":"C","order":2,"width":"6","height":"4","topic":"","title":"","logLengthType":"days","logLength":"0","sliderMinValue":10,"sliderMaxValue":35,"sliderStep":0.5,"thresholdRising":0.4,"thresholdFalling":0.4,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Tuesday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Wednesday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Thursday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Friday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Saturday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Sunday\": {\n        \"00:00\": 10,\n        \"09:00\": 18,\n        \"10:00\": 22,\n        \"23:59\": 10\n    }\n}","x":630,"y":180,"wires":[["c93fd1b3.640478","e70623f9.673fc","e906da8b.1f8e1","3540a0dc.53236"]]},{"id":"334b6e5d.26a912","type":"ui_heater_controller","z":"1e7619ee.c567fe","name":"heater","group":"e63c6cc7.a6dd48","unit":"C","order":2,"width":"6","height":"4","topic":"","title":"","logLengthType":"days","logLength":"0","sliderMinValue":10,"sliderMaxValue":35,"sliderStep":0.5,"thresholdRising":0.4,"thresholdFalling":0.4,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Tuesday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Wednesday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Thursday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Friday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Saturday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    },\n    \"Sunday\": {\n        \"00:00\": 10,\n        \"08:00\": 10,\n        \"10:00\": 22,\n        \"23:59\": 10\n    }\n}","x":690,"y":240,"wires":[["d4cc3f5c.65297","a236cf15.c72e5","babace57.460f7","b80c2ab0.cd1b48"]]},{"id":"c7540604.51c418","type":"smooth","z":"fa2159bc.e72848","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":true,"x":440,"y":140,"wires":[["c1617ddc.4756e","f69428a6.ef4bd8"]]},{"id":"3f1deb3a.95514c","type":"smooth","z":"1e7619ee.c567fe","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":true,"x":480,"y":200,"wires":[["668d6fd5.dc154","334b6e5d.26a912"]]},{"id":"62381f38.7234f","type":"inject","z":"788c9bfb.ad92bc","name":"Poll on startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":480,"y":540,"wires":[["79efb38f.79b0c4"]]},{"id":"7b5af835.4e0678","type":"inject","z":"788c9bfb.ad92bc","name":"Weekday on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":200,"wires":[["a714d6ba.79c6f"]]},{"id":"a520209f.520ba8","type":"inject","z":"788c9bfb.ad92bc","name":"Weekend on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":240,"wires":[["a714d6ba.79c6f"]]},{"id":"2925bf61.e65518","type":"inject","z":"788c9bfb.ad92bc","name":"Weekday off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 00 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":300,"wires":[["17b9806.d3b138"]]},{"id":"cd336c40.5333d8","type":"inject","z":"788c9bfb.ad92bc","name":"Weekend off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 00 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":340,"wires":[["17b9806.d3b138"]]},{"id":"a0ba682d.f370e","type":"delay","z":"788c9bfb.ad92bc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[["77aeb460.45bc6c"]]}]